.compute {
    $compute-width: 600px;
    width: 100%;
    min-width: $compute-width;
    height: 100vh;
    background-color: white;
}

.router-fade-enter-active,
.router-fade-leave-active {
    transition: opacity 0.3s;
}

.router-fade-enter,
.router-fade-leave-active {
    opacity: 0;
}
