.sidebar_box {
    $sidebar-width: 450px;
    $pane-background-color: #f6f6f6;
    width: $sidebar-width;
    height: 100%;

    .sidebar_tabs {
        height: 100%;
        border: none;

        .el-tabs__header {
            margin-right: 0;
            .el-tabs__nav-scroll {
                background-color: #414141;
                .el-tabs__item {
                    width: 100px;
                    height: 50px;
                    margin: 0;
                    padding: 10px 20px;
                    color: white;
                }
                .el-tabs__item.is-left.is-active {
                    color: #989898;
                }
            }
        }

        .el-tabs__content {
            width: calc($sidebar-width - 110px);
            height: 100%;
            padding: 10px 5px;
            background-color: $pane-background-color;

            .el-tab-pane {
                height: 100%;
                .pane_box {
                    height: 100%;
                    color: #000000;
                    .pane_title {
                        width: 100%;
                        height: 29px;
                        line-height: 30px;
                        border-bottom: 1px solid #989898;
                    }
                    .pane_compute {
                        width: calc(100% - 10px);
                        height: calc(100% - 40px);
                        margin-top: 5px;
                        padding: 0 5px;
                        overflow-y: auto;
                        .el-collapse {
                            border-top: none;
                        }
                        .pane_card {
                            .el-collapse-item__header {
                                height: 40px;
                                font-size: 14px;
                                background-color: $pane-background-color;
                            }
                            .el-collapse-item__content {
                                padding-bottom: 20px;
                                background-color: $pane-background-color;
                                .pane_card_content {
                                    width: calc(100% - 15px);
                                    padding-left: 15px;
                                    text-align: left;
                                    .compute_icon {
                                        vertical-align: middle;
                                    }
                                    .compute_item {
                                        padding-top: 5px;
                                        display: inline-block;
                                        color: black;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
