.dBm_dBμV_dBmW {
    $top-height: 260px;
    $bottom-height: 180px;

    height: 100%;
    text-align: center;

    .top {
        text-align: left;
        .top_title {
            font-size: 18px;
            margin: 10px;
            font-weight: bolder;
            display: inline-block;
        }
        .top_box {
            .top_left {
                width: 45%;
                margin-right: 5%;
                text-align: right;
                display: inline-block;
            }
            .top_right {
                width: 45%;
                margin-left: 5%;
                text-align: left;
                display: inline-block;
            }
        }
        .top_bottom {
            font-size: 16px;
            margin: 20px 10px;
            display: inline-block;
            .el-table {
                .el-table__cell {
                    padding: 5px 0;
                    text-align: center;
                }
            }
        }
    }
    .bottom {
        height: $bottom-height;
    }
}

.w_dbw_dbm {
    $top-height: 260px;
    $bottom-height: 180px;

    height: 100%;

    .top {
        height: $top-height;
        text-align: center;
        .left {
            width: 50%;
            text-align: right;
            display: inline-block;

            img {
                height: $top-height;
            }
        }
        .right {
            width: 50%;
            height: $top-height;
            line-height: $top-height;
            display: inline-block;
            img {
                height: calc($top-height / 4);
                margin: 25px 0;
                padding-left: 50px;
                display: block;
            }
        }
    }

    .bottom {
        text-align: center;
        margin-top: 40px;
        font-size: 18px;
        position: relative;

        .box_left {
            height: $bottom-height;
            line-height: $bottom-height;
            text-align: right;
            display: inline-block;
            position: absolute;
            top: 0;
        }
        .box_right {
            height: $bottom-height;
            line-height: $bottom-height;
            text-align: left;
            display: inline-block;
            margin-left: 60px;

            .item {
                height: calc($bottom-height / 3);
                line-height: calc($bottom-height / 3);
                margin-left: 20px;

                .item_top {
                    height: calc($bottom-height / 3 * 0.7);
                    line-height: calc($bottom-height / 3 * 0.9);

                    .convert_input {
                        height: 20px;
                        border-radius: 5px;
                    }

                    .convert_unit {
                        width: 60px;
                        display: inline-block;
                        text-align: center;
                    }

                    .convert_btn {
                        width: 70px;
                        height: 25px;
                        background-color: #c9d4b3;
                        border-radius: 5px;
                        border: none;
                    }
                }

                .item_bottom {
                    height: calc($bottom-height / 3 * 0.3);
                    line-height: calc($bottom-height / 3 * 0.3);
                    padding-left: 50px;
                    color: red;
                    font-size: 12px;
                }
            }
        }
        .convert_clear {
            margin-top: 20px;
            .clear_btn {
                width: 100px;
                height: 30px;
                border-radius: 5px;
                border: none;
                background-color: #c9d4b3;
            }
        }
    }
}

.Voltage_s_w_r {
    $top-height: 260px;
    $bottom-height: 180px;

    height: 100%;
    text-align: center;

    .top {
        // height: $top-height;
        text-align: left;
        margin-bottom: 20px;

        p {
            text-indent: 2em;
            line-height: 1.5em;
        }
    }
    .bottom {
        padding-bottom: 30px;
        .compute_table {
            margin: 0 auto;
            tr {
                height: 36px;
                text-align: left;
                td {
                    padding-left: 10px;
                    .big_input {
                        width: 146px;
                        padding: 0 7px;
                    }
                    .small_input {
                        width: 66px;
                        padding: 0 7px;
                        margin-right: 5px;
                    }
                }
            }
            tr:nth-child(4) {
                background-color: #eee;
            }
            tr:nth-child(6) {
                background-color: #eee;
            }
        }
        .btn {
            width: 100px;
            height: 25px;
            line-height: 25px;
            margin: auto 10px;
            background-color: #c9d4b3;
            border: none;
            border-radius: 5px;
        }
    }
}

// .Voltage_s_w_r {
//     $top-height: 260px;
//     $bottom-height: 180px;

//     height: 100%;
//     text-align: center;

//     .top {
//         height: $top-height;
//     }
//     .bottom {
//         height: $bottom-height;
//     }
// }
